# Download the dataset

In [1]:
#download the data set NYC and Tokyo checkin
!wget -c http://www-public.it-sudparis.eu/~zhang_da/pub/dataset_tsmc2014.zip

--2020-05-02 18:18:52--  http://www-public.it-sudparis.eu/~zhang_da/pub/dataset_tsmc2014.zip
Resolving www-public.it-sudparis.eu (www-public.it-sudparis.eu)... 157.159.10.107, 2001:660:3203:100:1:0:80:107
Connecting to www-public.it-sudparis.eu (www-public.it-sudparis.eu)|157.159.10.107|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: http://www-public.imtbs-tsp.eu/~zhang_da/pub/dataset_tsmc2014.zip [following]
--2020-05-02 18:18:53--  http://www-public.imtbs-tsp.eu/~zhang_da/pub/dataset_tsmc2014.zip
Resolving www-public.imtbs-tsp.eu (www-public.imtbs-tsp.eu)... 157.159.10.107, 2001:660:3203:100:1:0:80:107
Connecting to www-public.imtbs-tsp.eu (www-public.imtbs-tsp.eu)|157.159.10.107|:80... connected.
HTTP request sent, awaiting response... 416 Requested Range Not Satisfiable

    The file is already fully retrieved; nothing to do.

## See if the data has been downloaded in the local directory

In [2]:
!ls

DataProcessing.ipynb	     dataset_tsmc2014.zip   Simulation.ipynb
dataset_tsmc2014	     processedTMSC2014.tsv
dataset_TSMC2014_readme.txt  README.md

## Unzip the dataset and look at its format

In [3]:
#unzip
!unzip -o dataset_tsmc2014.zip

Archive:  dataset_tsmc2014.zip
  inflating: dataset_tsmc2014/dataset_TSMC2014_NYC.txt
  inflating: dataset_tsmc2014/dataset_TSMC2014_readme.txt
  inflating: dataset_tsmc2014/dataset_TSMC2014_TKY.txt

In [4]:
#look at the head of the dataset NYC
!head dataset_tsmc2014/dataset_TSMC2014_NYC.txt

470	49bbd6c0f964a520f4531fe3	4bf58dd8d48988d127951735	Arts & Crafts Store	40.719810375488535	-74.00258103213994	-240	Tue Apr 03 18:00:09 +0000 2012
979	4a43c0aef964a520c6a61fe3	4bf58dd8d48988d1df941735	Bridge	40.60679958140643	-74.04416981025437	-240	Tue Apr 03 18:00:25 +0000 2012
69	4c5cc7b485a1e21e00d35711	4bf58dd8d48988d103941735	Home (private)	40.716161684843215	-73.88307005845945	-240	Tue Apr 03 18:02:24 +0000 2012
395	4bc7086715a7ef3bef9878da	4bf58dd8d48988d104941735	Medical Center	40.7451638	-73.982518775	-240	Tue Apr 03 18:02:41 +0000 2012
87	4cf2c5321d18a143951b5cec	4bf58dd8d48988d1cb941735	Food Truck	40.74010382743943	-73.98965835571289	-240	Tue Apr 03 18:03:00 +0000 2012
484	4b5b981bf964a520900929e3	4bf58dd8d48988d118951735	Food & Drink Shop	40.69042711809854	-73.95468677509598	-240	Tue Apr 03 18:04:00 +0000 2012
642	4ab966c3f964a5203c7f20e3	4bf58dd8d48988d1e0931735	Coffee Shop	40.751591431346306	-73.9741214009634	-240	Tue Apr 03 18:04:38 +0000 2012
292	4d0cc47f903d37041864bf55	4bf58dd8d48988d12b951735	Bus Station	40.77942173066975	-73.95534113280371	-240	Tue Apr 03 18:04:42 +0000 2012
428	4ce1863bc4f6a35d8bd2db6c	4bf58dd8d48988d103941735	Home (private)	40.61915106755737	-74.03588760058483	-240	Tue Apr 03 18:06:18 +0000 2012
877	4be319b321d5a59352311811	4bf58dd8d48988d10a951735	Bank	40.61900594093755	-73.99037472596906	-240	Tue Apr 03 18:06:19 +0000 2012

## Load Dataset as pandas dataframe
## Data set has no column header, provide column header

In [5]:
#These files are tab seperated files and we want to load them
import pandas as pd
df = pd.read_csv("dataset_tsmc2014/dataset_TSMC2014_NYC.txt",sep='\t', engine="python", header=None)

In [6]:
df.head()

,0,1,2,3,4,5,6,7
0,470,49bbd6c0f964a520f4531fe3,4bf58dd8d48988d127951735,Arts & Crafts Store,40.719810,-74.002581,-240,Tue Apr 03 18:00:09 +0000 2012
1,979,4a43c0aef964a520c6a61fe3,4bf58dd8d48988d1df941735,Bridge,40.606800,-74.044170,-240,Tue Apr 03 18:00:25 +0000 2012
2,69,4c5cc7b485a1e21e00d35711,4bf58dd8d48988d103941735,Home (private),40.716162,-73.883070,-240,Tue Apr 03 18:02:24 +0000 2012
3,395,4bc7086715a7ef3bef9878da,4bf58dd8d48988d104941735,Medical Center,40.745164,-73.982519,-240,Tue Apr 03 18:02:41 +0000 2012
4,87,4cf2c5321d18a143951b5cec,4bf58dd8d48988d1cb941735,Food Truck,40.740104,-73.989658,-240,Tue Apr 03 18:03:00 +0000 2012

In [7]:
! cat dataset_TSMC2014_readme.txt

In [8]:
df.head()

,0,1,2,3,4,5,6,7
0,470,49bbd6c0f964a520f4531fe3,4bf58dd8d48988d127951735,Arts & Crafts Store,40.719810,-74.002581,-240,Tue Apr 03 18:00:09 +0000 2012
1,979,4a43c0aef964a520c6a61fe3,4bf58dd8d48988d1df941735,Bridge,40.606800,-74.044170,-240,Tue Apr 03 18:00:25 +0000 2012
2,69,4c5cc7b485a1e21e00d35711,4bf58dd8d48988d103941735,Home (private),40.716162,-73.883070,-240,Tue Apr 03 18:02:24 +0000 2012
3,395,4bc7086715a7ef3bef9878da,4bf58dd8d48988d104941735,Medical Center,40.745164,-73.982519,-240,Tue Apr 03 18:02:41 +0000 2012
4,87,4cf2c5321d18a143951b5cec,4bf58dd8d48988d1cb941735,Food Truck,40.740104,-73.989658,-240,Tue Apr 03 18:03:00 +0000 2012

In [9]:
#Set index for hte dataframe
df.columns = [
    "User ID (anonymized)",
    "Venue ID (Foursquare)",
    "Venue category ID (Foursquare)",
    "Venue category name (Fousquare)",
    "Latitude",
    "Longitude",
    "Timezone offset(minutes)",
    "UTC time"]

In [10]:
# Number of observations in the given dataset is
l = len(df)

## Make to extra columns InfectorId, Status, Time and Iteration
* Status is used to store the positive or negative status of the person
* Iteration we use to see which iteration of the simulation was this person infected
* We also use InfectorId to store the person who was the primary infector of this user
* We process UTC time to seconds using epoch so that calculation on time range is easier


Ideally we must have a different table for the user which maintains the userId and status, but as the dataset is small enough we can work with the same table. It doesn't affect the time so much (I hope!)

In [11]:
df["Status"] = [0]*l
df["Iteration"] = [0]*l
df["InfectorId"] = [0]*l
# After performing simulation we come to conclusion that we need one more column
# We need a column to maintain at what time was this person infection
df["InfectionTime"] = [0]*l

In [12]:
#Extracting date and time from UTC time 
#df["Date"] = pd.to_datetime(df['UTC time']).dt.date
#Default time is in nanoseconds so divide
import numpy as np
df["Time"] = pd.to_datetime(df['UTC time']).astype(np.int64) // 10**9 
df.head()

,User ID (anonymized),Venue ID (Foursquare),Venue category ID (Foursquare),Venue category name (Fousquare),Latitude,Longitude,Timezone offset(minutes),UTC time,Status,Iteration,infectorId,InfectionTime,Time
0,470,49bbd6c0f964a520f4531fe3,4bf58dd8d48988d127951735,Arts & Crafts Store,40.719810,-74.002581,-240,Tue Apr 03 18:00:09 +0000 2012,0,0,0,0,1333476009
1,979,4a43c0aef964a520c6a61fe3,4bf58dd8d48988d1df941735,Bridge,40.606800,-74.044170,-240,Tue Apr 03 18:00:25 +0000 2012,0,0,0,0,1333476025
2,69,4c5cc7b485a1e21e00d35711,4bf58dd8d48988d103941735,Home (private),40.716162,-73.883070,-240,Tue Apr 03 18:02:24 +0000 2012,0,0,0,0,1333476144
3,395,4bc7086715a7ef3bef9878da,4bf58dd8d48988d104941735,Medical Center,40.745164,-73.982519,-240,Tue Apr 03 18:02:41 +0000 2012,0,0,0,0,1333476161
4,87,4cf2c5321d18a143951b5cec,4bf58dd8d48988d1cb941735,Food Truck,40.740104,-73.989658,-240,Tue Apr 03 18:03:00 +0000 2012,0,0,0,0,1333476180

# Data has beeen preprocessed now and we can store it in a csv file

In [13]:
df.to_csv("processedTMSC2014.tsv", sep="\t")