# Download the dataset

In [15]:
#download the data set NYC and Tokyo checkin
!wget -c http://www-public.it-sudparis.eu/~zhang_da/pub/dataset_tsmc2014.zip

--2020-05-02 14:38:59--  http://www-public.it-sudparis.eu/~zhang_da/pub/dataset_tsmc2014.zip
Resolving www-public.it-sudparis.eu (www-public.it-sudparis.eu)... 157.159.10.107, 2001:660:3203:100:1:0:80:107
Connecting to www-public.it-sudparis.eu (www-public.it-sudparis.eu)|157.159.10.107|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: http://www-public.imtbs-tsp.eu/~zhang_da/pub/dataset_tsmc2014.zip [following]
--2020-05-02 14:38:59--  http://www-public.imtbs-tsp.eu/~zhang_da/pub/dataset_tsmc2014.zip
Resolving www-public.imtbs-tsp.eu (www-public.imtbs-tsp.eu)... 157.159.10.107, 2001:660:3203:100:1:0:80:107
Connecting to www-public.imtbs-tsp.eu (www-public.imtbs-tsp.eu)|157.159.10.107|:80... connected.
HTTP request sent, awaiting response... 416 Requested Range Not Satisfiable

    The file is already fully retrieved; nothing to do.

## See if the data has been downloaded in the local directory

In [16]:
!ls

dataset_tsmc2014	     dataset_tsmc2014.zip
dataset_TSMC2014_readme.txt  Simulation.ipynb

## Unzip the dataset and look at its format

In [17]:
#unzip
!unzip -o dataset_tsmc2014.zip

Archive:  dataset_tsmc2014.zip
  inflating: dataset_tsmc2014/dataset_TSMC2014_NYC.txt
  inflating: dataset_tsmc2014/dataset_TSMC2014_readme.txt
  inflating: dataset_tsmc2014/dataset_TSMC2014_TKY.txt

In [18]:
#look at the head of the dataset NYC
!head dataset_tsmc2014/dataset_TSMC2014_NYC.txt

470	49bbd6c0f964a520f4531fe3	4bf58dd8d48988d127951735	Arts & Crafts Store	40.719810375488535	-74.00258103213994	-240	Tue Apr 03 18:00:09 +0000 2012
979	4a43c0aef964a520c6a61fe3	4bf58dd8d48988d1df941735	Bridge	40.60679958140643	-74.04416981025437	-240	Tue Apr 03 18:00:25 +0000 2012
69	4c5cc7b485a1e21e00d35711	4bf58dd8d48988d103941735	Home (private)	40.716161684843215	-73.88307005845945	-240	Tue Apr 03 18:02:24 +0000 2012
395	4bc7086715a7ef3bef9878da	4bf58dd8d48988d104941735	Medical Center	40.7451638	-73.982518775	-240	Tue Apr 03 18:02:41 +0000 2012
87	4cf2c5321d18a143951b5cec	4bf58dd8d48988d1cb941735	Food Truck	40.74010382743943	-73.98965835571289	-240	Tue Apr 03 18:03:00 +0000 2012
484	4b5b981bf964a520900929e3	4bf58dd8d48988d118951735	Food & Drink Shop	40.69042711809854	-73.95468677509598	-240	Tue Apr 03 18:04:00 +0000 2012
642	4ab966c3f964a5203c7f20e3	4bf58dd8d48988d1e0931735	Coffee Shop	40.751591431346306	-73.9741214009634	-240	Tue Apr 03 18:04:38 +0000 2012
292	4d0cc47f903d37041864bf55	4bf58dd8d48988d12b951735	Bus Station	40.77942173066975	-73.95534113280371	-240	Tue Apr 03 18:04:42 +0000 2012
428	4ce1863bc4f6a35d8bd2db6c	4bf58dd8d48988d103941735	Home (private)	40.61915106755737	-74.03588760058483	-240	Tue Apr 03 18:06:18 +0000 2012
877	4be319b321d5a59352311811	4bf58dd8d48988d10a951735	Bank	40.61900594093755	-73.99037472596906	-240	Tue Apr 03 18:06:19 +0000 2012

## Load Dataset as pandas dataframe
## Data set has no column header, provide column header

In [19]:
#These files are tab seperated files and we want to load them
import pandas as pd
df = pd.read_csv("dataset_tsmc2014/dataset_TSMC2014_NYC.txt",sep='\t', engine="python", header=None)

In [20]:
df.head()

,0,1,2,3,4,5,6,7
0,470,49bbd6c0f964a520f4531fe3,4bf58dd8d48988d127951735,Arts & Crafts Store,40.719810,-74.002581,-240,Tue Apr 03 18:00:09 +0000 2012
1,979,4a43c0aef964a520c6a61fe3,4bf58dd8d48988d1df941735,Bridge,40.606800,-74.044170,-240,Tue Apr 03 18:00:25 +0000 2012
2,69,4c5cc7b485a1e21e00d35711,4bf58dd8d48988d103941735,Home (private),40.716162,-73.883070,-240,Tue Apr 03 18:02:24 +0000 2012
3,395,4bc7086715a7ef3bef9878da,4bf58dd8d48988d104941735,Medical Center,40.745164,-73.982519,-240,Tue Apr 03 18:02:41 +0000 2012
4,87,4cf2c5321d18a143951b5cec,4bf58dd8d48988d1cb941735,Food Truck,40.740104,-73.989658,-240,Tue Apr 03 18:03:00 +0000 2012

In [21]:
! cat dataset_TSMC2014_readme.txt

In [22]:
df.head()

,0,1,2,3,4,5,6,7
0,470,49bbd6c0f964a520f4531fe3,4bf58dd8d48988d127951735,Arts & Crafts Store,40.719810,-74.002581,-240,Tue Apr 03 18:00:09 +0000 2012
1,979,4a43c0aef964a520c6a61fe3,4bf58dd8d48988d1df941735,Bridge,40.606800,-74.044170,-240,Tue Apr 03 18:00:25 +0000 2012
2,69,4c5cc7b485a1e21e00d35711,4bf58dd8d48988d103941735,Home (private),40.716162,-73.883070,-240,Tue Apr 03 18:02:24 +0000 2012
3,395,4bc7086715a7ef3bef9878da,4bf58dd8d48988d104941735,Medical Center,40.745164,-73.982519,-240,Tue Apr 03 18:02:41 +0000 2012
4,87,4cf2c5321d18a143951b5cec,4bf58dd8d48988d1cb941735,Food Truck,40.740104,-73.989658,-240,Tue Apr 03 18:03:00 +0000 2012

In [23]:
#Set index for hte dataframe
df.columns = [
    "User ID (anonymized)",
    "Venue ID (Foursquare)",
    "Venue category ID (Foursquare)",
    "Venue category name (Fousquare)",
    "Latitude",
    "Longitude",
    "Timezone offset(minutes)",
    "UTC time"]

In [24]:
# Number of observations in the given dataset is
l = len(df)

## Make to extra columns InfectorId, Status, Time and Iteration
* Status is used to store the positive or negative status of the person
* Iteration we use to see which iteration of the simulation was this person infected
* We also use InfectorId to store the person who was the primary infector of this user
* We process UTC time to seconds using epoch so that calculation on time range is easier


Ideally we must have a different table for the user which maintains the userId and status, but as the dataset is small enough we can work with the same table. It doesn't affect the time so much (I hope!)

In [25]:
df["Status"] = [0]*l
df["Iteration"] = [0]*l
df["infectorId"] = [0]*l
#Extracting date and time from UTC time 
#df["Date"] = pd.to_datetime(df['UTC time']).dt.date
#Default time is in nanoseconds so divide
df["Time"] = pd.to_datetime(df['UTC time']).astype(np.int64) // 10**9 
df.head()

,User ID (anonymized),Venue ID (Foursquare),Venue category ID (Foursquare),Venue category name (Fousquare),Latitude,Longitude,Timezone offset(minutes),UTC time,Status,Iteration,infectorId
0,470,49bbd6c0f964a520f4531fe3,4bf58dd8d48988d127951735,Arts & Crafts Store,40.719810,-74.002581,-240,Tue Apr 03 18:00:09 +0000 2012,0,0,0
1,979,4a43c0aef964a520c6a61fe3,4bf58dd8d48988d1df941735,Bridge,40.606800,-74.044170,-240,Tue Apr 03 18:00:25 +0000 2012,0,0,0
2,69,4c5cc7b485a1e21e00d35711,4bf58dd8d48988d103941735,Home (private),40.716162,-73.883070,-240,Tue Apr 03 18:02:24 +0000 2012,0,0,0
3,395,4bc7086715a7ef3bef9878da,4bf58dd8d48988d104941735,Medical Center,40.745164,-73.982519,-240,Tue Apr 03 18:02:41 +0000 2012,0,0,0
4,87,4cf2c5321d18a143951b5cec,4bf58dd8d48988d1cb941735,Food Truck,40.740104,-73.989658,-240,Tue Apr 03 18:03:00 +0000 2012,0,0,0

## Make a program to choose randomly p fraction of the population to infect initially
* Randomly with choosen probability picks 0 and 1 
* We find list of all unique users and then we need to infect a percentage of population
* Again a problem here is that we need to start infecting users only after a particular time
* we need to make this set to be positive or negative

**I propose that there could be atleast two mechanism to start infection**
1. Randomly infect people by choosing them after a particular time
2. Randomly infect people by choosing a particular place at particular time (this is how COVID started)
3. If choosing step 2 then we can randmly infect people who were at that place at a particular time
4. Using alpha as infection rate

In [26]:
import numpy as np

alpha = 0.1

#choosing unique users
unique_users =  pd.unique("User ID (anonymized)")#.
print(unique_users)

# this is when we are infecting people at a particular time
gen_positive = np.random.choice((1,0),size = len(unique_users), p=[alpha, 1-alpha])

# infect_time = choose time # This variable will be used to infect in both the cases

# infect_place = choose place

#If choosing place then we need to write query to 

# Write the code such that onlu

['User ID (anonymized)']

In [27]:
#Find all the rows which has entry for the given User Id
len(df[df["User ID (anonymized)"] == 470])

196

In [30]:
# Work to do
# 1. Convert the time stamp into the format that is easily accesible to compute hourly range
# 2. Make query to select

In [47]:
pd.to_datetime(df.iloc[2]['UTC time']).date()

datetime.date(2012, 4, 3)

In [49]:
pd.to_datetime(df.iloc[2]['UTC time'])

Timestamp('2012-04-03 18:02:24+0000', tz='UTC')

0         1333476009
1         1333476025
2         1333476144
3         1333476161
4         1333476180
5         1333476240
6         1333476278
7         1333476282
8         1333476378
9         1333476379
10        1333476435
11        1333476537
12        1333476546
13        1333476569
14        1333476599
15        1333476604
16        1333476639
17        1333476664
18        1333476676
19        1333476695
20        1333476729
21        1333476747
22        1333476762
23        1333476792
24        1333476801
25        1333476843
26        1333476861
27        1333476884
28        1333476905
29        1333476907
             ...
227398    1360980224
227399    1360980259
227400    1360980293
227401    1360980462
227402    1360980503
227403    1360980650
227404    1360980666
227405    1360980674
227406    1360980713
227407    1360980764
227408    1360980775
227409    1360980779
227410    1360980897
227411    1360980978
227412    1360981006
227413    1360981039
227414    1360981069
227415    1360981129
227416    1360981147
227417    1360981211
227418    1360981625
227419    1360981641
227420    1360981661
227421    1360981669
227422    1360981751
227423    1360981751
227424    1360981895
227425    1360981996
227426    1360982071
227427    1360982136
Name: UTC time, Length: 227428, dtype: int64

In [59]:
pd.Timestamp("1970-01-01")

Timestamp('1970-01-01 00:00:00')

In [56]:
(pd.to_datetime(df.iloc[2]['UTC time']).date() - pd.Timestamp("1970-01-01")) // pd.Timedelta('1ms')

TypeError: descriptor '__sub__' requires a 'datetime.datetime' object but received a 'datetime.date'